@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom-right-radius: 170px;
}

.name-info {
    text-align: center;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container h1 {
    font-size: 100px;
}

.name-info, .name-container h1, .name-container h5 {
    margin: 0;
}

.name-info nav {
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    bottom: 0;
    top: 300px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #222;
    padding-top: 60px;
    color: #fff;
    z-index: 1000;
    border-top-right-radius: 50px;
    font-size: 27px;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    background-color: #777777;
}

.text {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    margin-top: 300px;
}

.intro,
.experience,
.education,
.portfolio,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 200px;
    margin-top: 100px;
}

.text h3 {
    margin-bottom: 20px;
}

.text img {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 15%;
}

.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.contact .text,
.contact .text form {
    width: 80%;
    margin: 0 auto;
}

.contact .text form label {
    display: block;
    margin-bottom: 10px;
}

.contact .text form input,
.contact .text form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact .text form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact .text form textarea {
    height: 300px;
}

.portfolio .text a {
    display: block;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.portfolio .text a:hover {
    background-color: #555;
}

.education .text .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.education .text .button:hover {
    background-color: #555;
}
/* Estilos para telas menores (celulares) */
@media only screen and (max-width: 768px) {
    header {
        padding: 60px 20px; /* Reduz o padding do cabeçalho */
    }

    .name-container h1 {
        font-size: 60px; /* Reduz o tamanho do título */
    }

    .sidebar {
        width: 100px; /* Reduz a largura da barra lateral */
        font-size: 20px; /* Reduz o tamanho da fonte na barra lateral */
    }

    .text {
        padding: 20px; /* Reduz o padding do conteúdo principal */
        margin: 0 10px; /* Reduz as margens laterais do conteúdo principal */
        margin-top: 200px; /* Ajusta a margem superior do conteúdo principal */
    }

    .intro,
    .experience,
    .education,
    .portfolio,
    .contact {
        padding: 0 20px; /* Reduz o padding das seções */
    }
}
